/.gradle
/.kotlin
/local.properties

/.idea/*
!/.idea/dictionaries
!/.idea/detekt.xml
!/.idea/externalDependencies.xml
!/.idea/file.template.settings.xml
!/.idea/fileTemplates

**/build

/build-logic/.gradle

*.log
.DS_Store
